.story {
  width: 70%;
  max-width: 75rem;
  margin: 6rem auto;
  padding: 2rem;
  background-color: rgba($color-white, 0.65);

  transform: skewY(-4deg) rotateZ(4deg);

  & > * {
    transform: skewY(7deg) rotateZ(-7deg) translateY(-3rem);
  }

  &__inner {
    padding: 4rem 2rem 1rem;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(20%);
    background-color: $color-white;
    z-index: -1;
  }

  &__picture-wrapper {
    shape-outside: circle(50% at 50% 50%);
    width: 16rem;
    float: left;
  }

  &__picture {
    background-size: cover;
    clip-path: circle(50% at 50% 50%);
    width: 14rem;
    height: 14rem;

    &--1 {
      background-image: url(../../public/img/nat-8.jpg);
    }

    &--2 {
      background-image: url(../../public/img/nat-9.jpg);
    }
  }
}
